#art{
  display: table;
  border-spacing:1px;
  background-color: black;
  border: 5px solid black;
} 
.pixel{
  display: table-cell;
  background-color: white;
  width: 40px;
  height: 40px;
}
.pen{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid black;
}
#w{
  background-color:white;
}
#bl{
  background-color:black;
}
#bu{
  background-color:blue;
}#r{
  background-color:red;
}#v{
  background-color:orange;
}
#t{
  background-color:teal;
}
#g{
  background-color:green;
}